*{
    margin: 0%;
    color: #9e8a78;
}
/* estilos para el nav(menú) */
nav{
    background-color: #4A4138;
    width: 100vw;
    display: flex;
    align-items: center;
    height: 35px;
}
.referencias-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.referencias-menu li{
    margin: 0% 5%;
    list-style: none;
}
.enlaces-paginas{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.enlaces-paginas:hover{
    color: #15110C;
    text-decoration: underline;
}

main{
    background-color: #15110C;
    height: calc(100vh - 35px);
}

.mapa{
    display: flex;
    justify-content: center;
}
